:root {
    --primary-color: #d2dde6;
    --secondary-color: #a89d5a;
    --text-color: #1d1111;
    --background-color: #e9e8e3;
    --font-main: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 10px;
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--text-color);
}

header, footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.data-section, .weather-section {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

footer {
    font-size: 12px;
}

@media (max-width: 768px) {
    header, footer {
        padding: 8px;
        font-size: 14px;
    }

    .data-section, .weather-section {
        padding: 8px;
        margin: 8px;
    }

    .image-container {
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) {
    body {
        padding: 20px;
    }

    header, footer {
        padding: 15px;
        font-size: 16px;
    }

    .data-section, .weather-section {
        padding: 20px;
        margin: 20px;
        display: inline-block;
        width: 45%; /* Making room for two columns */
    }

    .image-container {
        margin-bottom: 30px;
    }
}
